

//- Bootstrap Components
script(src='/keystone/js/lib/bootstrap/collapse.js')
//script(src='/keystone/js/lib/bootstrap/dropdown.js')
script(src='/keystone/js/lib/bootstrap/tooltip.js')
script(src='/keystone/js/lib/bootstrap/button.js')

//- Other Components
script(src="/keystone/js/lib/moment/moment-1.7.2.min.js")
script(src="/keystone/js/lib/move/move-0.1.1.min.js")
script(src="/keystone/js/lib/select2/select2-3.3.2.min.js")
script(src="/keystone/js/lib/pikaday/pikaday-1.1.0.js")
script(src="/keystone/js/lib/pikaday/pikaday.jquery-1.1.0.js")
script(src="/keystone/js/lib/jquery-placeholder-shim/jquery-placeholder-shim.js")
script(src="/keystone/js/lib/tinymce/tinymce.min.js")
block js_codemirror

//- App
script.
	var Keystone = {};
	Keystone.csrf = function(obj) {
		obj['#{csrf_token_key}'] = "#{csrf_token_value}";
		return obj;
	};
	Keystone.csrf.key = "#{csrf_token_key}";
	Keystone.csrf.value = "#{csrf_token_value}";
	Keystone.csrf.query = "!{csrf_query}";
if cloudinary
	script(src='/keystone/js/lib/jqueryfileupload/vendor/jquery.ui.widget.js')
	script(src='/keystone/js/lib/jqueryfileupload/jquery.iframe-transport.js')
	script(src='/keystone/js/lib/jqueryfileupload/jquery.fileupload.js')
	script(src='/keystone/js/lib/cloudinary/jquery.cloudinary.js')
	| !{cloudinary_js_config}
	script.
		Keystone.cloudinary = {
			cloud_name: "#{cloudinary.cloud_name}",
			api_key: "#{cloudinary.api_key}",
			timestamp: "#{cloudinary.timestamp}",
			signature: "#{cloudinary.signature}"
		}

//- Keystone UI
script(src="/keystone/js/common/plugins.js")
script(src="/keystone/js/common/ui.js")
script(src="/keystone/js/common/ui-alt-text.js")
script(src="/keystone/js/common/ui-sortable.js")

//skin js


script(src="/keystone/assets/js/jqueryui-1.10.3.min.js")
script(src="/keystone/assets/js/bootstrap.min.js")
script(src="/keystone/assets/js/enquire.min.js")
script(src="/keystone/assets/plugins/velocityjs/velocity.min.js")
script(src="/keystone/assets/plugins/velocityjs/velocity.ui.min.js")
script(src="/keystone/assets/plugins/wijets/wijets.js")
script(src="/keystone/assets/plugins/codeprettifier/prettify.js")
script(src="/keystone/assets/plugins/bootstrap-switch/bootstrap-switch.js")
script(src="/keystone/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js")

script(src="/keystone/assets/plugins/iCheck/icheck.min.js")
script(src="/keystone/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js")
script(src="/keystone/assets/plugins/jquery-mousewheel/jquery.mousewheel.min.js")
script(src="/keystone/assets/plugins/sparklines/jquery.sparklines.min.js")
script(src="/keystone/assets/js/application.js")
script(src="/keystone/assets/demo/demo.js")
script(src="/keystone/assets/demo/demo-switcher.js")
script(src="/keystone/assets/plugins/charts-chartistjs/chartist.min.js")
script(src="/keystone/assets/plugins/charts-chartistjs/chartist-plugin-tooltip.js")
script(src="/keystone/assets/plugins/charts-chartjs/Chart.js")

script(src="/keystone/assets/plugins/easypiechart/jquery.easypiechart.js")
//script(src="/keystone/assets/demo/demo-index.js")
