doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.blog-banner

			.container
				.page-bread-nav
					a(href="/") Home
					span / 
					| Resources

			.container.container_List.container_blog
				.row
					.col-md-8.blog_list_wrap
						ul.list-unstyled

							- data.data.forEach(function(item){
								li
									h2 #{item.title}
									i Posted on: #{item.publishedDate} By #{item.autorName}
									img(src="/upload/#{item.cover[0]['filename']}")
									p #{item.intro}
									a(href="/blog/info?id=#{item._id}", class="blog_btn") Read More


							-})
						br
						br
						include ../inc/page_nav.jade


					include ../inc/blog_right.jade




			include ../inc/foot.jade


