doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.blog-banner(style="background:url(#{bannberUrl}) center top no-repeat;")

			.container
				.page-bread-nav
					a(href="/") Home
					span / 
					| #{NavTip}

			.container.container_List.container_blog
				.row
					.col-md-8.blog_list_wrap
						form.form-inline.formBlog(action="")
							.form-group
								label.sr-only
								.input-group
									.input-group-addon
										span.glyphicon.glyphicon-search(aria-hidden="true")
									input.form-control.bolgSearchInp(name="keywords", placeholder="input title",value="#{data.keywords}")
									button(class="btn btn-primary", type="submit") Search
						- if(data.data.length > 0){
							ul.list-unstyled

								- data.data.forEach(function(item){
									li
										h2 #{item.title}
										i Posted on: #{item.publishedDate} By #{item.autorName}
										- if(item.cover && item.cover[0]){
											img(src="/upload/#{item.cover[0]['filename']}")
										-}
										p #{item.intro}
										a(href="#{NavLink}?id=#{item._id}", class="blog_btn") Read More


								-})
							br
							br
							include ../inc/page_nav.jade
							
						-}else{
							h2.emptyH2 empty result
						-}


					include ../inc/blog_right.jade




			include ../inc/foot.jade


