doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.blog-banner

			.container
				.page-bread-nav
					a(href="") Home
					span.blue_span / 
					a(href="") Blog
					span / 
					| #{data.data[0].title}

			.container.container_List
				.row
					.col-md-8.blog_list_wrap
						h2.blog_info_title #{data.data[0].title}
						div.blog_info_date Posted on: #{data.data[0].publishedDate} By #{data.data[0].autorName}

						- data.data[0].images.forEach(function(item){
							img(src="/upload/#{item['filename']}", class="blog_info_img")
						-})
						
						div.blog_info_intro 
							| #{data.data[0].intro}
						div.blog_info_content
							| !{data.data[0].content.extended}



					include ../inc/blog_right.jade




			include ../inc/foot.jade


