doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.blog-banner(style="background:url(#{bannberUrl}) center top no-repeat;")

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					a(href="#{NavLink}") #{NavTip}
					span / 
					| #{data.data[0].title}

			.container.container_List.container_info_blog
				.row
					.col-md-8.blog_list_wrap.blog_info_wrap
						h2.blog_info_title #{data.data[0].title}
						div.blog_info_date 
							i Posted on: #{data.data[0].publishedDate} 
							| By #{data.data[0].autorName}

						- data.data[0].images.forEach(function(item){
							img(src="/upload/#{item['filename']}", class="blog_info_img")
						-})
						
						div.blog_info_intro 
							| #{data.data[0].intro}
						div.blog_info_content
							| !{data.data[0].content.extended}

						div.blog_info_date 
							i Posted on: #{data.data[0].publishedDate} 
							| By #{data.data[0].autorName}

						.blog-socail
							a(target="_blank",href="https://www.facebook.com/BellemaUSA")
								img(src="/img/fbBtn.png")
							a(target="_blank",href="https://plus.google.com/101362370657508329799")
								img(src="/img/gpBtn.png")
							a(target="_blank",href="https://www.instagram.com/bellemausa/")
								img(src="/img/lnBtn.png")
							a(target="_blank",href="https://twitter.com/BellemaUSA")
								img(src="/img/twBtn.png")


					include ../inc/blog_right.jade




			include ../inc/foot.jade


