doctype html
html
	
	include ../inc/head.jade
	//div#mask
	body
		link(rel="stylesheet", href="/css/magiczoomplus.css")
		script(src="/js/mzp-packed.js")

		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.product-top

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					| Contact Us

			.container.container_List.container-prod-info.retail-container
				.row
										
					.col-md-7
						.contact-title| Contact Us
						.contact-info| We welcome your request and suggestion to provide a continuous supply of nutrients for Bellema.
						.contact-detail
							
								- data.data.forEach(function(item, i){
									- if(i%2 != 0) return;
									- var item = data.data[i];
									- var item2 = data.data[i+1];
									- var img = ''
									- var img2 = ''
									- if(Array.isArray(item.icons) && item.icons[0] && item.icons[0]['filename']){
									- img = '/upload/'+item.icons[0]['filename']
									- }

									- if(item2 && Array.isArray(item2.icons) && item2.icons[0] && item2.icons[0]['filename']){
									- img2 = '/upload/'+item2.icons[0]['filename']
									- }

									.row
										.col-md-1
											img(src='#{img}')
										.col-md-5
											- if(item.isEmail == 'yes'){
											a(href="mailto:#{item.text}")
												| #{item.text}
											- } else if(item.jumpUrl != ''){
											a(href="#{item.jumpUrl}", target="_blank")
												| #{item.text}
											- } else{
												| #{item.text}
											- }
											
										- if(item2){
											.col-md-1
												img(src='#{img2}')
											.col-md-5
												- if(item2.isEmail == 'yes'){
												a(href="mailto:#{item2.text}")
													| #{item2.text}
												- } else if(item2.jumpUrl != ''){
												a(href="#{item2.jumpUrl}", target="_blank")
													| #{item2.text}
												- } else{
													| #{item2.text}
												- }
										-}
										
								- })
	
								
	
					.col-md-1

					.col-md-4
						.contact-map
							.contact-map-cover
								- data.dataAddr.forEach(function(item, i){

									h2.cmap-title| #{i+1}.#{item.name}
									p.cmap-p| #{item.addr}

								- })
								

								//a.cbtn

				


			include ../inc/foot.jade


script.
	$(function(){
		
	})



