doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper
			//inc nav
			include ../inc/nav.jade

			//
			.container-fluid
				.row
					div(id="homeBanner", class="homeBanner")
						div(class="swiper-container", id="banner-container")
							div(class="swiper-wrapper")


								- data.banners.forEach(function(item){
									- item.images[0] = item.images[0] || {}

									div(class="swiper-slide")
										img.bannerImg(src="/upload/#{item.images[0]['filename']}")
										div(class="textBox")
											h2 #{item.title}
											p #{item.content}
											a.bannerBtn(href="#{item.linkUrl}")

								- })
								

							div(class="swiper-pagination swiper-pagination-banner")
							div(class="swiper-button-next swiper-button-next-banner")
							div(class="swiper-button-prev swiper-button-prev-banner")

			.container-fluid
				.row
					div(id="homeMatters", class="homeMatters")
						h2 what matters most for a Breastpump
						h3 most important things of a Breastpump
						.homeMattersBox.row
							p(class="col-md-6 p1")
								span Pump Power
								|We’re also experts at finding the sweet spot between Google’s guidelines and what is commercially right for you. We have progressive theories on search as a tool for retention of customers, not just for acquisition. 
							p(class="col-md-6 p2")
								span BPA Free
								|We’re also experts at finding the sweet spot between Google’s guidelines and what is commercially right for you. We have progressive theories on search as a tool for retention of customers, not just for acquisition. 
							p(class="col-md-6 p3")
								span Insurance Coverage
								|We’re also experts at finding the sweet spot between Google’s guidelines and what is commercially right for you. We have progressive theories on search as a tool for retention of customers, not just for acquisition. 
							p(class="col-md-6 p4")
								span Size
								|We’re also experts at finding the sweet spot between Google’s guidelines and what is commercially right for you. We have progressive theories on search as a tool for retention of customers, not just for acquisition. 
							


			.container-fluid
				.row
					div(id="homeProduct", class="homeProduct")
						h2 Featured Category
						h3 Best & most popular of our works
						.homeProductWrap
							div(class="swiper-container", id="homeProductContainer")
								.swiper-wrapper.homeProductWrapper

									- data.products.forEach(function(item){
										- item.cover[0] = item.cover[0] || {}

										div(class="swiper-slide productSlide")
											img(class="homeProductImg", src="/upload/#{item.cover[0]['filename']}")
											span #{item.name}
											a(class="productBtn", href="/product/info?id=#{item._id}")
									- })

						//div(class="swiper-pagination swiper-pagination-product")
						div(class="swiper-button-next swiper-button-next-product")
						div(class="swiper-button-prev swiper-button-prev-product")




			.container-fluid
				.row
					div(id="homeCustom", class="homeCustom")
						.homeCustomTitle
							span.CustomL
							span.CustomT How Bellema be liked by the customer
							span.CustomR
						.homeCustomWrap
							div(class="swiper-container custom-container", id="custom-container")
								div(class="swiper-wrapper")

									- data.customers.forEach(function(item){
										- item.images[0] = item.images[0] || {}
										div(class="swiper-slide")
											p.customP 
												i #{item.content}

									- })
									
								div(class="customPagenation")
									
									div(class="swiper-button-prev-custom")
									div(class="swiper-pagination-customer", id="swiper-pagination-customer")
									div(class="swiper-button-next-custom")


			.container-fluid
				.row
					div(id="homePartners", class="homePartners")
						h2 Our  Partners
						.homePartnersWrap
							div(class="swiper-container partner-container", id="partner-container")
								div(class="swiper-wrapper")

									- data.partners.forEach(function(item){
										- item.logo[0] = item.logo[0] || {}

										div(class="swiper-slide")
											a(href="#{item.linkUrl}")
												img(src="/upload/#{item.logo[0]['filename']}")

									- })
									
								div(class="swiper-pagination swiper-pagination-partner")

							

			.container-fluid
				.row
					div(id="homeSubscribe", class="homeSubscribe")
						h2 
							img(src="/img/bee@2x.png")
							|win a $20 gift card
						.homeSubscribeWrap
							input(id="subInp", class="subInp", type="email")
							a(id="subBtn", class="subBtn", href="#")
							a(class="linkBtn")

						h3 Get bored by email?
						.row
							a(href="https://www.facebook.com/BellemaUSA")
								img(src="/img/fbBtn.png")
							a(href="https://plus.google.com/101362370657508329799")
								img(src="/img/gpBtn.png")
							a(href="https://www.instagram.com/bellemausa/")
								img(src="/img/lnBtn.png")
							a(href="https://twitter.com/BellemaUSA")
								img(src="/img/twBtn.png")

			include ../inc/foot.jade

- var customDataList = []
- data.customers.forEach(function(item){
	- item.images[0] = item.images[0] || {}
	- customDataList.push({'img':'/upload/'+item.images[0]['filename'] || '','title':item.reviewName,})
-})

script.
	$(function(){
		window.screenW = $(window).width();

		var swiper = new Swiper('#banner-container', {
	        pagination: '.swiper-pagination-banner',
	        slidesPerView: 1,
	        paginationClickable: true,
	        spaceBetween: 0,
			nextButton: '.swiper-button-next-banner',
			prevButton: '.swiper-button-prev-banner',
	    });

	    if(window.screenW > 767){
	    	 var swiper = new Swiper('#homeProductContainer', {
		        pagination: '.swiper-pagination-product',
		        slidesPerView: 3,
		        paginationClickable: true,
		        spaceBetween: 0,
				nextButton: '.swiper-button-next-product',
				prevButton: '.swiper-button-prev-product',
				spaceBetween: 30
		    });
	    }else{
	    	var swiper = new Swiper('#homeProductContainer', {
		        pagination: '.swiper-pagination-product',
		        slidesPerView: 1,
		        paginationClickable: true,
		        spaceBetween: 0,
				nextButton: '.swiper-button-next-product',
				prevButton: '.swiper-button-prev-product',
				spaceBetween: 30
		    });
	    }


	    var swiper = new Swiper('#custom-container', {
	        pagination: '.swiper-pagination-customer',
	        slidesPerView: 1,
	        paginationClickable: true,
	        spaceBetween: 0,
			nextButton: '.swiper-button-next-custom',
			prevButton: '.swiper-button-prev-custom',
	    });

	    
	    var homeCustomJson = !{JSON.stringify(customDataList)}


	    setTimeout(function(){
	    	$('#swiper-pagination-customer .swiper-pagination-bullet').each(function(i){
	    		$(this).html('<img src="'+homeCustomJson[i].img+'" /><i>'+homeCustomJson[i].title+'</i>')
	    	})
	    },0);




	    if(window.screenW > 767){
	    	 var swiper = new Swiper('#partner-container', {
		        pagination: '.swiper-pagination-partner',
		        slidesPerView: 5,
		        paginationClickable: true,
		        spaceBetween: 0,
				spaceBetween: 30
		    });
	    }else{
	    	var swiper = new Swiper('#partner-container', {
		        pagination: '.swiper-pagination-partner',
		        slidesPerView: 1,
		        paginationClickable: true,
		        spaceBetween: 0,
				spaceBetween: 30
		    });
	    }

	    var emailReg = /^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/;
	    $('#subBtn').click(function(){
	    	var email = $('#subInp').val().trim();
	    	if(!emailReg.test(email)){
	    		sweetAlert("Oops...", "Invalid email format", "error");
	    		return false;
	    	}

	    	$.post('/sub/post', {'email':email}, function(d){
	    		if(d.error){
	    			sweetAlert("Oops...", d.error, "error");
	    			return false;
	    		}

	    		sweetAlert("Success");
	    		return false;	

	    	}, 'json')

	    	return false;
	    })
	   
	})
