doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.product-top

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					a(href="/product/list?cat=#{data.catObj[0].name}") Products
					span / 
					| #{data.data[0].name}

			.container.container_List.container-prod-info
				.row
					.col-md-6
						.product-info-img-box
							.product-info-img-innerbox
							img(src="/upload/#{data.data[0].images[0]['filename']}", class="product-info-img",id="product-big-pic")
						.product-info-img-box-bottom
							.row
								- data.data[0].images && data.data[0].images.forEach(function(item,i){
									- var redBorder = ''
									- if(i==0){
										- redBorder = 'redBorder'
									-}
									.col-xs-2
										a(href="javascript:;", class="product-img-sm #{redBorder}")
											img(src="/upload/#{item['filename']}")

								- })

					.col-md-6
						h2.product-info-title 
							| #{data.data[0].name}
						h3.product-info-tips
							| Product Code: #{data.data[0].code}


						.product-info-p
							| Availability: 
							span.red #{data.data[0].availability}

						.product-info-price
							| $#{data.data[0].msrp}

						.product-info-p
							| WHERE  TO  BUY:

						a(href="#{data.data[0].amazonBuyUrl}", class="product-info-buy-btn")
							| Buy From<br/>Amazon.com

						.row.product-social
							a(href="https://www.facebook.com/BellemaUSA")
								img(src="/img/fbBtn.png")
							a(href="https://plus.google.com/101362370657508329799")
								img(src="/img/gpBtn.png")
							a(href="https://www.instagram.com/bellemausa/")
								img(src="/img/lnBtn.png")
							a(href="https://twitter.com/BellemaUSA")
								img(src="/img/twBtn.png")


				include ../inc/product_detail



				.container-fluid
					.row
						div(id="homeProduct", class="homeProduct product-other-wrap")
							h2 You may also like

							.homeProductWrap
								div(class="swiper-container", id="homeProductContainer")
									.swiper-wrapper.homeProductWrapper

										- data.otherProds.forEach(function(item){
											.product-list-inner-blk

												- if(item.images && item.images[0]){
													a(href="/product/info?id=#{item._id}")
														img(src="/upload/#{item.images[0]['filename']}")
												- } else{
													a(href="/product/info?id=#{item._id}")
														img(src="")
												- }
										
												p #{item.name}
												.price $#{item.msrp}
												a.buy(href="/product/info?id=#{item._id}") Buy

										- })
										

								
							//div(class="swiper-pagination swiper-pagination-product")
							div(class="swiper-button-next swiper-button-next-product")
							div(class="swiper-button-prev swiper-button-prev-product")

			include ../inc/foot.jade


script.
	
	$(function(){
		window.screenW = $(window).width();

		$('.product-img-sm').click(function(){

			$('.product-img-sm').removeClass('redBorder')
			$(this).addClass('redBorder');
			var imgSrc = $(this).find('img').eq(0).attr('src');
			$('#product-big-pic').attr('src', imgSrc)


		})


		 if(window.screenW > 767){
	    	 var swiper = new Swiper('#homeProductContainer', {
		        pagination: '.swiper-pagination-product',
		        slidesPerView: 3,
		        paginationClickable: true,
		        spaceBetween: 0,
				nextButton: '.swiper-button-next-product',
				prevButton: '.swiper-button-prev-product',
				spaceBetween: 30
		    });
	    }else{
	    	var swiper = new Swiper('#homeProductContainer', {
		        pagination: '.swiper-pagination-product',
		        slidesPerView: 1,
		        paginationClickable: true,
		        spaceBetween: 0,
				nextButton: '.swiper-button-next-product',
				prevButton: '.swiper-button-prev-product',
				spaceBetween: 30
		    });
	    }

	})