doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.product-top

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					a(href="/product/list?cat=#{data.catObj[0].name}") Products
					span / 
					| #{data.data[0].name}

			.container.container_List
				.row
					.col-md-6
						.product-info-img-box
							.product-info-img-innerbox
							img(src="/upload/#{data.data[0].images[0]['filename']}", class="product-info-img",id="product-big-pic")
						.product-info-img-box-bottom
							.row
								- data.data[0].images && data.data[0].images.forEach(function(item,i){
									- var redBorder = ''
									- if(i==0){
										- redBorder = 'redBorder'
									-}
									.col-xs-2
										a(href="javascript:;", class="product-img-sm #{redBorder}")
											img(src="/upload/#{item['filename']}")

								- })

					.col-md-6
						h2.product-info-title 
							| #{data.data[0].name}
						h3.product-info-tips
							| Product Code: #{data.data[0].code}


						.product-info-p
							| Availability: 
							span.red #{data.data[0].availability}

						.product-info-price
							| $#{data.data[0].msrp}

						.product-info-p
							| WHERE  TO  BUY:

						a(href="#{data.data[0].amazonBuyUrl}", class="product-info-buy-btn")
							| Buy From<br/>Amazon.com

						.row.product-social
							a(href="javascript:;")
								img(src="/img/fbBtn.png")
							a(href="javascript:;")
								img(src="/img/gpBtn.png")
							a(href="javascript:;")
								img(src="/img/lnBtn.png")
							a(href="javascript:;")
								img(src="/img/twBtn.png")


				include ../inc/product_detail


			include ../inc/foot.jade


script.
	
	$(function(){


		$('.product-img-sm').click(function(){

			$('.product-img-sm').removeClass('redBorder')
			$(this).addClass('redBorder');
			var imgSrc = $(this).find('img').eq(0).attr('src');
			$('#product-big-pic').attr('src', imgSrc)


		})



	})