doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.blog-banner.product-banner

			.container
				.page-bread-nav
					a(href="/") Home
					span / 
					| Products

			.container.container_List
				.row
					include ../inc/product_left.jade

					.col-md-9.blog_list_wrap
						h2.product-list-title Breastpumps
						h4.product-list-title-tip All Breastpumps are FDA approved

						include ../inc/product_list_filter.jade

						.row.product-list-wrap

							- data.productData.forEach(function(item){

								.col-md-4.product-list-blk
									.product-list-inner-blk
										img(src="/upload/#{item.images[0]['filename']}")
										p #{item.name}
										.price $#{item.msrp}
										a.buy(href="/product/info?id=#{item._id}") Buy
								
							-})
							
						include ../inc/product_list_filter.jade


			include ../inc/foot.jade


script.
	
	$(function(){

		var sortMap = {
			'Auto':'sort',
			'Date':'publishedDate',
			'Price':'msrp',
			'Name':'name',

			'sort':'Auto',
			'publishedDate':'Date',
			'msrp':'Price',
			'name':'Name',

		}


		$('.page-sort-choose').html('Sort by ' + sortMap['#{sortObj.sort}'])



		$('.dropdown').on('hidden.bs.dropdown', function () {
			
		  	if(!window.sort){
				return false;
			}

			location.href = '/product/list?page=#{sortObj.page}&cat=#{sortObj.cat}&sort='+window.sort;

		})


		$('.product-sort-a').click(function(){
			//alert($(this).html().trim())
			window.sort = sortMap[$(this).html().trim()];
		})


	})