doctype html
html

	include ../inc/head.jade
	link(rel="stylesheet", href="/static/css/jquery-ui.min.css")
	script(src="/js/jquery-ui.min.js")

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.support-banner

			.container
				.page-bread-nav
					a(href="/") Home
					span / 
					| Support

			.container.container_List.container_List_wrap
				.row
					.col-md-6.support-box-l
						.support-box
							h2 Enter  the  keyword  to  search  for  the  product. For example  "Mango"
							.ui-widget
								.support-box-inp-wrap
									input(type="text", id="support-search-inp")
									a(href="javascript:;", class="dis-search", id="support-search")

					.col-md-6.support-box-r
						.support-box
							h2 Browse for the product

							- productMenu.forEach(function(item,i){
								-if(i>=5){
								-	return
								-}
								a(href="/product/list?cat=#{item.name}") 
									span.glyphicon.glyphicon-chevron-right
									| #{item.name}
							- })


			.container.container_List

				h3.support-title
					|Frequent  Asked  Questions

				- data.data.forEach(function(item, i){
					.support-blk(id="#{item.name}")
						h3 #{i+1}.#{item.name}

						- if(item.images && item.images.length>0){
							.support-pic

								-item.images.forEach(function(image){
									img(src="/upload/#{image['filename']}")
								-})
							
						-}

						.support-content
							!{item.content.answer}
				-})
				
				.empty-search(style="display:none;")
					h3 Sorry, not found any results
						a.support-show-all(href="/support") show all



			include ../inc/foot.jade


script.
	$(function(){

		var supportBlk = $('.support-blk');
		var supportBlkLen = supportBlk.length;

		window.product = !{JSON.stringify(data.products)}

		var productNames = [];
		var productMap = {};

		window.product.forEach(function(item){
			productNames.push(item.name);
			productMap[item.name] = item._id;
		})


		$("#support-search-inp").autocomplete({
	      source: productNames
	    });


	    
		$('#support-search').click(function(){
			

			var v = $('#support-search-inp').val().trim();
			if(!v){
				sweetAlert("Please enter the keywords.");
				return false
			}

			var prodId = productMap[v];
			if(!prodId){
				sweetAlert("Not found such product.");
				return false;
			}

			location.href = '/product/info?id='+prodId+'&tab=2';

			return false;
		})
		


	})