.product-row
	.product-d-btn.sel Description
	.product-d-btn Reviews (#{reviewsCount})
.product-d-wrap
	
	.pro-box.hide
		!{data.data[0].content.extended}


	.pro-box

		//.pro-box-title Showing 1 - 04 of 12 Reviews



		- data.reviews.forEach(function(item,i){

			- if(i<10){
				- var hide = ""
			-}else{
				- var hide = "hide"
			-}

			.row.review-line(class="#{hide}")
				.col-md-1
					img(src="/img/head@2x.png")
				.col-md-11
					p.name
						| By #{item.source}
						span.gray #{item.publishedDate}
					p.title
						| #{item.title}
					.content
						!{item.content.extended}
			
		-})


		.row.review-line
			.col-md-1
			.col-md-11
				a(href="javascript:;").product-reviews-more read more